body {
    font-size: 15px;
    padding: 0;
    margin: 0;
    font-family: "微软雅黑","宋体",Arial;
    width: 100%;
    height: 100%;
    background:url(https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/86d6277f9e2f07088ab175d0e524b899a801f2ae.jpg) no-repeat top 
    center fixed;
    opacity: 0.8;
    background-size: cover;
  }





